.header
{ 
  display: inline-block;
  font-family: 'M PLUS Code Latin',sans-serif;
  color: black;
  font-size: 50px;
  font-weight:bold;
  padding-left: 450px ; 
  padding-right: 250px;
  position: relative;
  
}

.topnav{
    background-color: #45B3E6;
    overflow: hidden;
}
.topnav a {
    font-size: 25px;
    float: left;
    display:block;
    color: black;
    text-align: center;
    padding: 10px 0px; 
    padding-right: 100px ;
    padding-left: 100px;
    text-decoration:none;
  }
.topnav a:hover 
{
    background-color: #189AB4;
    color: white;
}

.topnav a.active {
    background-color:#04AA6D;
    color: white;
  }

.button   
{
   background-color: #45B3E6;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-family: "Praise";
    margin: 4px 2px;
    cursor:pointer;
    border-radius: 50px;   
}
  
.button:hover
{
    background-color: #189AB4;
    color: white;
}
  
.sidenav{
    text-align: center;
    width:200px;
    
    position: sticky;
    float: left;
    z-index: 1;
    top: 201px;
    left: 8px;
    background-color:#04AA6D;
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: white;
  }

.middle{
    
    margin-left: 210px;
    
    padding: 0px 10px;
    z-index: 1;
    
}
.middle p{
    font: 200 18px/28px artifakt-element,sans-serif;
}


.sticky {
    position: sticky;
    top: 0;
    width: 100%
}

sup{
    vertical-align: top; font-size: 0.6em;
}



